Checks: 'boost-*,
         bugprone-*,cert-*,
         concurrency-*,
         cppcoreguidelines-*,
         llvm-*,
         misc-*,
         performance-*,
         portability-*,
         readability-*,
         -bugprone-easily-swappable-parameters,
         -cert-err58-cpp,
         -cppcoreguidelines-avoid-c-arrays,
         -llvm-header-guard,
         -misc-include-cleaner,
         -performance-enum-size,
         -readability-identifier-length'
