{% set cpp_decl_types = {
    "bool": "bool",
    "double": "double_t",
    "integer": "integer_t",
    "string": "std::string",
    "asset_status": "asset_status_t",
    "pair_status": "pair_status_t",
} -%}
{% set cpp_access_types = {
    "bool": "bool",
    "double": "double_t",
    "integer": "integer_t",
    "string": "const std::string&",
    "asset_status": "asset_status_t",
    "pair_status": "pair_status_t",
} -%}
{% set simdjson_types = {
    "bool": "bool",
    "double": "double",
    "integer": "int64",
    "string": "string",
    "asset_status": "int8",
    "pair_status": "int8",
} -%}
{% set type_defaults = {
    "bool": "false",
    "double_t": "0.0",
    "integer_t": "0",
    "asset_status": "asset_status_invalid",
    "pair_status": "pair_status_invalid",
} -%}
