{% set cpp_decl_types = {
    "bool": "bool",
    "double": "double_t",
    "integer": "integer_t",
    "string": "std::string",
    "asset_status": "asset_status_t",
} -%}
{% set cpp_access_types = {
    "bool": "bool",
    "double": "double_t",
    "integer": "integer_t",
    "string": "const std::string&",
    "asset_status": "asset_status_t",
} -%}
{% set type_defaults = {
    "bool": "false",
    "double_t": "0.0",
    "integer_t": "0",
    "asset_status": "e_asset_status_invalid",
} -%}
