{# Tells us how to declare a c++ member. #}
{% set cpp_decl_types = {
 "asset_status": "asset_status_t",
 "bool":         "bool",
 "depth":        "depth_t",
 "double":       "double_t",
 "integer":      "integer_t",
 "ord_type":     "ord_type_t",
 "price":        "price_t",
 "pair_status":  "pair_status_t",
 "qty":          "qty_t",
 "side":         "side_t",
 "string":       "std::string",
 "timestamp":    "timestamp_t",
} -%}

{# Tells us how to expose a c++ member. #}
{% set cpp_access_types = {
 "asset_status": "asset_status_t",
 "bool":         "bool",
 "depth":        "depth_t",
 "double":       "double_t",
 "integer":      "integer_t",
 "ord_type":     "ord_type_t",
 "pair_status":  "pair_status_t",
 "price":        "const price_t&",
 "qty":          "const qty_t&",
 "side":         "side_t",
 "string":       "const std::string&",
 "timestamp":    "timestamp_t",
} -%}
{

{# Tells us which simdjson accessor to use. #}
{% set simdjson_types = {
 "asset_status": "get_string", 
 "bool":         "get_bool",
 "depth":        "get_int64",
 "double":       "get_double",
 "integer":      "get_int64",
 "ord_type":     "get_string", 
 "pair_status":  "get_string", 
 "price":        "raw_json_token",
 "qty":          "raw_json_token",
 "side":         "get_string", 
 "string":       "get_string",
 "timestamp":    "get_string",
} -%}

{# Default values for c++ member declarations. #}
{% set type_defaults = {
 "asset_status": "asset_status_invalid",
 "bool":         "false",
 "depth":        "depth_invalid",
 "double":       "0.0",
 "integer":      "0",
 "ord_type":     "ord_type_invalid",
 "pair_status":  "pair_status_invalid",
 "side":         "side_invalid",
} -%}

{% set json_converters = {
 "price":     "str()",
 "qty":       "str()",
 "timestamp": "str()",
} -%}
